<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <% if logged_in? %>
      <%= link_to "#{current_user.name} Profile", current_user %> |
      <%= link_to "Create new event", new_event_path %> | 
      <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
      <%= link_to "Sign in", login_path %> |
      <%= link_to "Sign Up", signup_path %>
      <% end %>
      </div>
    <%= yield %>
  </body>
</html>
